<div class="dashboard-container">
    <div class="sidebar">
      <div class="logo-section">
        <img src="./assets/logo.png" alt="Logo" width="100%" height="170px">
      </div>
      <ul class="navigation-menu">
        
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="department">Department</a></li>
        <li><a href="staff">Staff</a></li>
        <li><a href="subjects">Subjects</a></li>
        <li><a href="semester">Semester</a></li>
        <li><a href="student">Student</a></li>
        <li><a href="attendance">Attendance</a></li>
        <li><a href="marks">Marks</a></li>
        <li><a href="reports">Reports</a></li>
      </ul>
    </div>
    <div class="content">
        <div class="top-bar">
            <button (click)="navBack()" class="update-button">Back</button>
        </div>
        
        
        <div class="add-student-button">
          <button (click)="showStaffForm()" class="add-button">Add Staff</button>
        </div>

        <div *ngIf="showAddStaffForm">
          
          <h2>Add Staff</h2>
          <form (submit)="createStaff(staffForm.value)" [formGroup]="staffForm" class="add-student-form">
            
              <table>
                <tr>
                  <legend>Staff Details</legend>
                </tr>

                <tr>
        
                    <td>
                      <label>
                        Name:
                      </label>
                    </td>
                    <td>
                      <input type="text" formControlName="name" name="name" required>
                    </td>
                    <td>
                      <label>
                        DOB:
                      </label>
                    </td>
                    <td>
                      <input type="text" formControlName="dob" name="dob" required>
                    </td>
                    <td>
                      <label>
                        Email:
                      </label>
                    </td>
                    <td>
                      <input type="text" formControlName="email" name="email" required>
                    </td>
                  
                </tr>
                <tr>
        
                  <td>
                    <label>
                      Gender:
                    </label>
                  </td>
                  <td>
                    <input type="text" formControlName="gender" name="gender" required>
                  </td>
                  <td>
                    <label>
                      Phone:
                    </label>
                  </td>
                  <td>
                    <input type="text" formControlName="phone" name="phone" required>
                  </td>
                  <td>
                    <label>
                      Designation:
                    </label>
                  </td>
                  <td>
                    <input type="text" formControlName="designation" name="designation" required>
                  </td>
                
              </tr>


                <tr>
        
                  <td>
                    <label>
                      Date of Joining:
                    </label>
                  </td>
                  <td>
                    <input type="text" formControlName="dateOfJoining" name="dateOfJoining" required>
                  </td>

                  <td>
                    <label>
                      Department:
                    </label>
                  </td>
                  <td>
                    <input type="text" formControlName="department" name="department" required>
                  </td>

                  <td>
                    <label>
                      Experience:
                    </label>
                  </td>
                  <td>
                    <input type="text" formControlName="experience" name="experience" required>
                  </td>

              </tr>     
                      
              </table>

            <button type="submit" class="save-button">Save</button>
          </form>
        </div>


        <h2>Staff Details</h2>

        <table>

          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Experience</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of staff">
              <td>{{ s.staffId}}</td>
              <td>{{ s.name }}</td>
              <td>{{ s.dob}}</td>
              <td>{{ s.email}}</td>
              <td>{{ s.gender }}</td>
              <td>{{ s.experience }}</td>
              <!-- <td>{{ s.department}}</td> -->
              
              <td>
                <button class="view-button" (click)="viewDetails(s.staffId)">View Full Details</button>
                <button class="update-button" (click)="updateDetails(s.staffId, s)">Update</button>
                <button class="delete-button" (click)="deleteDetails(s.staffId)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>