

<div class="modal-overlay">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modalBox">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <h1>Hello, this is a modal sample</h1> -->
            <!-- <li>Name</li> -->
            <!-- <li>Class</li> -->
            <!-- <li>Roll no.</li> -->
          <!-- Add your modal content here -->

          <h3>Are you sure you want to delete this?</h3>
          <button >Yes</button>
          <button >No</button>
        </div>
      </div>
    </div>
  </div>
</div>
  