<div class="dashboard-container">
    <div class="sidebar">
      <div class="logo-section">
        <img src="./assets/logo.png" alt="Logo" width="100%" height="170px">
      </div>
      <ul class="navigation-menu">
        
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="department">Department</a></li>
        <li><a href="staff">Staff</a></li>
        <li><a href="subjects">Subjects</a></li>
        <li><a href="semester">Semester</a></li>
        <li><a href="student">Student</a></li>
        <li><a href="attendance">Attendance</a></li>
        <li><a href="marks">Marks</a></li>
        <li><a href="reports">Reports</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="top-navigation">
        <ul class="user-menu">
          <li><a href="dashboard">  Admin  </a></li>
          <!-- <li><a href="dashboard"><i class="fa fa-cog"></i> Settings</a></li> -->
          <li><a href="">  Logout  </a></li>
        </ul>
      </div>
      <div class="user-info">
        <i class="fa fa-user user-icon"></i>
        <!-- <span>User Name</span> -->
      </div>
      <div class="information-section">
        <h1>Welcome to the Student Performance Monitoring System</h1>
        <p>Here you can manage the student and other details.</p>
      </div>

      <div></div>

      <div class="short-links-buttons">
        <h2>Links</h2>
        <!-- <button class="short-links">Get Student List</button>
        <button class="short-links">Get Subject List</button>
        <button class="short-links">Get Staff List</button> -->

        <li><a href="student">Get Student List</a></li>
        <li><a href="subjects">Get Subject List</a></li>
        <li><a href="staff">Get Staff List</a></li>
        <!-- <li><a href="modal">Modal</a></li> -->
        <!-- <button (click)="openModal()">Open Modal</button> -->
        <!-- <button (click)="openModal()">Open Modal</button> -->



      </div>
    </div>
  </div>
  