<div class="modal-overlay">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modalBox">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h1 class="modal-title">Full Student Details</h1>
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">
            
            <p>Are you sure you want to delete this record?</p>
            <div class="buttons">
                <button class="yes-button" (click)="deleteSubject(data.subjectId)">Yes</button>
                <button class="yes-button" (click)="close()">No</button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
    